<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head')%> 

<body>
  
    <%- include('../partials/header')%> 
   <main>

    <!-- todos los productos -->
	

	<%- include('../partials/category')%> 
		


    
    <%- include('../partials/newsletter')%> 


   </main>

   <%- include('../partials/footer')%>