<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%> 
<body>

    <%- include('../partials/header')%> 

<main>
    
    <br>
    <div class="contenedor-formularioCreate">
        <form action="/products/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-edit" >
    
            <fieldset>
                <legend>Editar producto</legend>
               <div class="contenido-form">
<!--                         ***** NOMBRE DEL PRODUCTO *****                            -->
                <div class="art-product">
                        <label for="">Nombre del producto</label>
                        <input type="text" name="name" class="nombre-product" value="<%= locals.old ? old.name : producto.name%>">
                        <div name="error" class="nameProduct-error"></div>
                        <% if (locals.errors && errors.name) { %>
                            <p class="feedback" style="color: red;font-size: 14px;"><%= errors.name.msg %>  </p>
                        <% } %>
                </div>

<!--                         ***** CATEGORIA *****                                      -->
                <div class="art-product">

                    <label for="">Categoría</label>
                    <select name="categoryId" class="category-dos">
                        <% categories.forEach(category => { %>
                            <% if (category.id==producto.categoryId) { %>
                                <option selected="selected"value="<%= category.id%> "><%= category.name%></option>
                            <% }else{ %> 
                                <option value="<%= category.id%> "><%= category.name%></option>
                                <% } %> 
                        <% }) %>
                        <% if (locals.errors && errors.categoryId) { %>
                            <p class="feedback" style="color: red;font-size: 14px;"><%= errors.categoryId.msg %>  </p>
                        <% } %>
                        </select>
                </div>
            
<!--                         ***** PRECIO *****                                         -->
                <div class="art-product">
                    <label for="">Precio </label>
                    <input type="text" name="price" class="price"  value="<%= locals.old ? old.price : producto.price%>" required>
                    <div name="error" class="priceProduct-error"></div>
                    <% if (locals.errors && errors.price) { %>
                        <p class="feedback" style="color: red;font-size: 14px;"><%= errors.price.msg %>  </p>
                    <% } %>
                </div>
<!--                         ***** SECCIÓN *****                                        -->
                <div class="art-product">
                    <label for="">Sección</label>
                    <select name="section" class="section-edit">
                        <option value="">Elegí una sección</option>
                        <option value="todos">Todos</option>
                        <option value="ofertas">Ofertas</option>
                        <option value="destacado">Destacado</option>
                        <% if (locals.errors && errors.section) { %>
                            <p class="feedback" style="color: red;font-size: 14px;"><%= errors.section.msg %>  </p>
                        <% } %>
                        </select>
                        <div name="error" class="section-error"></div>
                </div>
<!--                         ***** DESCRICIÓN *****                                     -->
                <div class="textarea">
                        <label for="">Descripción</label>
                        <textarea name="description" class="description" rows="8" cols="25" ><%= locals.old ? old.description :producto.description%></textarea>
                </div>
                <div name="error" class="description-error"></div>
                        <% if (locals.errors && errors.description) { %>
                        <p class="feedback" style="color: red;font-size: 14px;"><%= errors.description.msg %>  </p>
                        <% } %>
<!--                  ***** DESCRIPCIÓN EXTENDIDA *****                                 -->
                <div class="art-product">
                    <label for="">Descripción extendida</label>
                        <textarea name="extended_description" class="descrip-max" rows="8" cols="25" placeholder="Descripción extendida del producto:" ><%= locals.old ? old.extended_description : producto.extended_description%></textarea>
                </div>
                <div name="error" class="descripMax-error"></div>
                        <% if (locals.errors && errors.extended_description) { %>
                        <p class="feedback" style="color: red;font-size: 14px;"><%= errors.extended_description.msg %>  </p>
                        <% } %>
<!--                           ***** STOCK *****                                       -->
                <div class="art-product">
                    <label for="">Stock</label>
                    <input type="text" name="stock" class="stock" value="<%= locals.old ? old.stock :producto.stock%>">

                    <div name="error" class="stoc-error"></div>
                        <% if (locals.errors && errors.stock) { %>
                            <p class="feedback" style="color: red;font-size: 14px;"><%= errors.stock.msg %>  </p>
                        <% } %>
                </div>
<!--                         ***** STOCK MINIMO *****                                  -->
                <div class="art-product">
                    <label for="">Stock minimo</label>
                    <input type="text" name="stock_min" class="stock-min" value="<%= locals.old ? old.stock_min : producto.stock_min%>">
                    <div name="error" class="stock-min-error"></div>
                    <% if (locals.errors && errors.stock_min) { %>
                        <p class="feedback" style="color: red;font-size: 14px;"><%= errors.stock_min.msg %>  </p>
                    <% } %>
                </div>
<!--                           ***** STOCK MAXIMO *****                                -->

                <div class="art-product">
                    <label for="">Stock máximo</label>
                    <input type="text" name="stock_max" class="stock-max" value="<%= locals.old ? old.stock_max :producto.stock_max%>">
                    <div name="error" class="stock-max-error"></div>
                        <% if (locals.errors && errors.stock_max) { %>
                            <p class="feedback" style="color: red;font-size: 14px;"><%= errors.stock_max.msg %>  </p>
                        <% } %>
                </div>
<!--                           ***** COLOR *****                                       -->

                <div class="art-product">
                    <label for="">Color</label>
                    <select name="colorId" class="color">
                        <option value="">Elegí un color</option>
                        <% colors.forEach(color => { %>
                            <% if (color.id == producto.colorId) { %>
                                <option selected="selected" value="<%= color.id %> "><%= color.name  %> </option>
                            <% } else { %>
                            
                                <option value="<%= color.id %> "><%= color.name  %> </option>
                                <% } %> 
                        <% }) %>
                    </select>
                    <div name="error" class="color-error"></div>
                </div>
<!--                           ***** MARCA *****                                       -->

                <div class="art-product">
                    <label for="">Marca</label>
                    <select name="brandId" class="marca">
                        <% brands.forEach(brand => { %>
                            <% if (brand.id == producto.brandId) { %>
                                <option selected="selected" value="<%= brand.id %> "><%= brand.name  %> </option>
                            <% } else { %>
                            
                                <option value="<%= brand.id %> "><%= brand.name  %> </option>
                                <% } %> 
                        <% }) %>
                    </select>
                    <div name="error" class="brand-error"></div>
                </div>

                
<!--                           ***** IMAGEN *****                                      -->
                <div class="art-product">
                    <label>Imagen</label>
                    <input type="file"  class="img" name="image" placeholder="Imagen del artículo" >
                    <div name="error" class="img-error"></div>
                    <% if (locals.errors && errors.image) { %>
                        <p class="feedback" style="color: red;font-size: 14px;"><%= errors.image.msg %>  </p>
                    <% } %>
                </div>
               
                        <div class="btn-form">
                            
                            <button type="submit">Guardar cambios</button>
                    </div>
                    
                </div>
            
                </form>
                <!--Seguir editando-->
                <div class="btn-form-eliminar">
                    <form action="/products/delete/<%=producto.id%>?_method=delete" method="POST">   
                        <button type="submit">Eliminar producto</button>
                    </form> 
    
            </div>
            </fieldset>
                <div class="editar">
                    <p><a href='/products/create' class="seguir"><i class="fas fa-chevron-circle-left"></i>Crear nuevo producto</a></p>
                </div>
    </div>
</main>




    <%- include('../partials/footer')%>

    <script src="/js/editProductValidation.js"></script>
    
</body>
</html>