<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%> 
<body>
   

    <%- include('../partials/header')%> 

    <main>


        <section class="producto-principal">
            
            <img src="/images/<%= producto.image%>" alt="foto del producto">

            <article class="datos-producto">
                <h2><%= producto.name%></h2>

                <p class="breve-descripcion"><%= producto.description%></p>
                <p class="precio-del-producto">$<%= producto.price%></p>

                <div class="iconos-texto">


               <p> <i class="fas fa-shield-alt"></i>Garantia - 12 meses </p>
               <p>  <i class="fas fa-check"></i>Stock disponible</p>
                <p> <i class="fas fa-truck-moving"></i>Envios a todo el pais</p>
            </div>
            <% if ((locals.user && locals.user.rolId == 2)|| locals.user == undefined) { %>
            <form action="/carrito" method="get">
                    <div class="addCartIcon">
                        <button type="submit" value="Sumar al carrito" 
                        class="addCart">Agregar al carrito<i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </form>
                <% } %> 
                <% if (typeof user !='undefined' && user.rolId == 1) {%>
                    <form action="/products/<%=producto.id%>/edit" method="get">
                        <div class="editCart">
                            <button type="submit" class="editar-boton">Editar este producto<i class="fa-solid fa-pen-to-square"></i></button>
                         </div>
                     </form>

                     <form action="/products/delete/<%=producto.id%>?_method=delete" method="POST">
                        <div class="deleteCart">
                        <button type="submit" class="eliminar-boton">ELIMINAR<i class="fas fa-trash-alt"></i></button>
                    </div>
                    </form>
                    <% }%>
            </article>
        </section>

        <section class="caracteristicas">
            <article>
                <h3>Caracteristicas generales:</h3>
                <ul>
                    <li class="color1">Nombre: <%= producto.name%></li>
                    
                    
                  <li class="color2">Precio: $<%= producto.price%></li>
                  <% if (producto.section) { %>
                    <li class="color1">Categoria: <%= producto.section%> </li>
                    <li class="color2">Descripcion: <%= producto.extended_description%> </li>
                  <% }else{ %>
                    <li class="color1">Descripcion: <%= producto.extended_description%> </li>
                   
                 <% }%> 
                   
                </ul>

                

            </article>
        </section>


        <br><br><br><br><br><br>
<h3 class="titulo-sale">¡Ofertas!</h3>
<div class="glider-container-sale">
    <div class="glider-sale">
<%- include('../partials/ofertas')%> 
<%- include('../partials/ofertas')%> 
</div>
<button aria-label="Previous" class="glider-prev-sale">«</button>
<button aria-label="Next" class="glider-next-sale">»</button>

</div>


        <%-   include('../partials/newsletter')%> 
    


    </main>


    <%- include('../partials/footer')%> 
    <script src="glider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="/js/sale.js"></script>
</body>
</html>